<template>
  <v-container fluid fill-height>
    <v-row>
      <v-col>
        <modal  :active="getModalStatus"></modal>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col align="center" justify="center">
        <showOrders title=" Ordenes en envio" :orders="getShippedOrders" type="0"></showOrders>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col align="center" justify="center">
        <showOrders title=" Envios pendientes" :orders="getNotShippedOrders" type="1"></showOrders>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import showOrders from '../components/showOrders'
import modal from '../components/modal'

export default {
  components:{
showOrders,modal
  },
  data() {
    return {shippingOrders:[],
    };
  },
  methods: {
    getOrders(){
      this.$store.dispatch('getOrders')
    }
  },
  computed: {
    getNotShippedOrders(){
      return this.$store.getters.getNotShippedOrders
    },
    getShippedOrders(){
      return this.$store.getters.getShippedOrders
    },
    getModalStatus(){
      return this.$store.getters.getModalStatus
    }
  },
  watch: {},
  mounted() {
    this.getOrders()
  },
};
</script>
