<template>
    <v-alert :type="notificacion.type" v-if="notificacion.active">
      {{notificacion.text}}
    </v-alert>
</template>
<script>
export default {
    data() {
        return {
        }
    },
    computed:{
        notificacion(){
           return  this.$store.getters.getNotificacion
        }
    }
}
</script>