<template>
  <v-row justify="center">
    <v-dialog v-model="active" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Notificar incidente</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col>
                <v-select
                  :items="items"
                  item-value="value"
                  item-text="text"
                  v-model="option"
                  label="Elige el motivo pertinente"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
          <small>*Indica que el campo es obligatorio</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="changeModalStatus()">
            cerrar
          </v-btn>
          <v-btn color="blue darken-1" text @click="putChangeOrderState()">
            guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: ["active"],
  data() {
    return {
      option: undefined,
      items: [
        {
          value: 4,
          text: "Cliente ausente",
        },
        {
          value: 5,
          text: "Domicilio equivocado",
        },
        {
          value: 6,
          text: "No se ha tenido el tiempo suficiente",
        },
        {
          value: 7,
          text: "Cliente fallecido",
        },
      ],
    };
  },
  methods: {
    changeModalStatus() {
      this.$store.commit("changeModalStatus");
      this.$store.commit("setNotificacion", {
        active: true,
        type: "success",
        text: "accion completada",
      });
    },
    putChangeOrderState() {
      let order = this.$store.getters.getShippedOrders.find(
        (order) => order.id == this.getActualModalOrderId
      );
      this.$store.dispatch("putChangeOrderState", {
        order,
        stateNumber: this.option,
      });
      this.$store.commit("setNotificacion", {
        active: true,
        type: "success",
        text: "accion completada",
      });
      this.changeModalStatus();
    },
  },
  computed: {
    getActualModalOrderId() {
      return this.$store.getters.getActualModalOrderId;
    },
  },
};
</script>

<style></style>
