<template>
      <div>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn
                    class="mx-2"
                    fab
                    dark
                    small
                    v-on="on"
                    :color="orderState == 1 ? 'grey': 'green'"
                   @click="orderState == 1 ? putChangeOrderState(order,0): putChangeOrderState(order,1)"
                  >
                    <v-icon dark>fas fa-box-open</v-icon>
                  </v-btn>
               
                </template>
                       <span v-if="orderState == 0" > marcar como preparado</span>
                <span v-else>marcar como en preparación</span>
              </v-tooltip>
             
            
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn
                    class="mx-2"
                    fab
                    v-on="on"
                    dark
                    small
                    color="blue"
                    @click="putChangeOrderState(order,2)"
                  >
                    <v-icon dark>fas fa-shipping-fast</v-icon>
                  </v-btn>
                </template>

                <span>poner en ruta</span>
              </v-tooltip>
            </div>
</template>

<script>
export default {
    props:['order'],
    methods: {
        putChangeOrderState(order,stateNumber){
            this.$store.dispatch('putChangeOrderState',{order,stateNumber})
           this.$store.commit('setNotificacion',{active:true,type:'success',text:'accion completada'})

        },
        
    },
    computed:{
      orderState(){
        return this.order.state
      }
    }
}
</script>

<style>

</style>