<template>
  <div>
    <v-tooltip top>
      <template v-slot:activator="{ on }">
        <v-btn
          class="mx-2"
          fab
          dark
          small
          v-on="on"
          color="green"
          @click="putChangeOrderState(order, 3)"
        >
          <v-icon dark>fas fa-people-carry</v-icon>
        </v-btn>
      </template>

      <span>marcar como entregado</span>
    </v-tooltip>

    <v-tooltip top>
      <template v-slot:activator="{ on }">
        <v-btn
          class="mx-2"
          fab
          v-on="on"
          dark
          small
          color="red"
          @click="openOrderModal(order.id)"
        >
          <v-icon dark>fas fa-user-times</v-icon>
        </v-btn>
      </template>

      <span>No entregado</span>
    </v-tooltip>
    <v-tooltip top>
      <template v-slot:activator="{ on }">
        <v-btn
          class="mx-2"
          fab
          dark
          small
          v-on="on"
          color="blue"
          @click="
            downloadItem(
              `http://backoffice.g05.batoilogic.es/order/${order.id}/download`
            )
          "
        >
          <v-icon dark>fas fa-file-pdf</v-icon>
        </v-btn>
      </template>

      <span>marcar como entregado</span>
    </v-tooltip>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: ["order"],

  methods: {
    downloadItem( url ) {
                window.open(url, "_blank");    

    },
    putChangeOrderState(order, stateNumber) {
      this.$store.dispatch("putChangeOrderState", { order, stateNumber });
                    return this.$store.commit('setNotificacion',{active:true,type:'success',text:'accion completada'})

    },
    openOrderModal(orderId) {
      this.$store.dispatch("openOrderModal", orderId);
    },
  },
};
</script>

<style></style>
