<template>
        <v-col cols="10">
        <v-card>
          <v-row align="center" justify="center">
            <v-col md="12" class="text-center">
              <h3>
               {{title}}
              </h3>
            </v-col>
          </v-row>
         
          
          <v-row align="center" justify="center">
            <v-col md="6" sm="11" cols="11" class="text-center">
             <v-text-field
            v-model="search"
            append-icon="fas fa-search"
            label="Buscar"
            single-line
            hide-details
          ></v-text-field>
            </v-col>
          </v-row>
          
          <v-data-table
            :headers="headers"
            :items="orders"
            :search="search"
            item-key="_id"
            class="elevation-1"
          >
            <template v-slot:item.address="{ item }">
              <p style="margin-bottom: 0px;">
                {{ item.address }}
              </p>
            </template>
            <template v-slot:item.state="{ item }">
              <p style="margin-bottom: 0px;">
                {{ parseState(item.state) }}
              </p>
            </template>
                  <template v-slot:item.options="{ item }">

            <notShippedOrderOptions v-if="type== 1" :order="item"></notShippedOrderOptions>
            <shippedOrderOptions v-if="type== 0" :order="item"></shippedOrderOptions>
                  </template>
          </v-data-table>
        </v-card>
      </v-col>
</template>

<script>
import parseState from '../functions/parseState'
import notShippedOrderOptions from '../components/notShippedOrderOptions'
import shippedOrderOptions from '../components/shippedOrderOptions'
export default {
    components:{
        notShippedOrderOptions,
        shippedOrderOptions
    },
    props:['title','orders','type'],
data() {
     return {
    
        search:'',
         headers: [
        { text: "Dirección", value: "address" },
        { text: "estado", value: "state" },
        { text: "Opciones", value: "options" },
      ],
};
},
methods:{
    parseState(stateNumber){
       return parseState(stateNumber)
    }
},
computed:{
 
}
}
</script>

<style>

</style>